.chart {
    grid-area: 2 / 4 / 9 / -1; 
    transition: all 0.5s;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: -1rem;
    
}

.chartOut {
    opacity: 0;
    grid-area: 2 / 3 / 10 / -1; 
}