.info {
    grid-area: 2 / 4 / 9 / -1;
    margin-top: -1rem; 
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
}

.info__text {
    font-weight: 700;
    display: flex;
    align-self: center;
    justify-self: center;
}

.info__form {
    display: grid;
    place-items: center;

    


}