@import './styles/dashboard';
@import './styles/login';
@import './styles/add';
@import './styles/info';
@import './styles/chart';
@import './styles/stats';
@import './styles/nav';
@import './styles/var';
@import './styles/button';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $grey;
    box-sizing: border-box;
}

input, select {
    border: none;
    border-bottom: 1px solid $blue;
}


